<!DOCTYPE html>
<html>
<head>
    <title>Stwórz nowy post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="<%= theme %>">
    <h1>Stwórz nowy post</h1>
    <form action="/posts" method="POST">
        <div>
            <label for="title">Tytuł:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="snippet">Fragment:</label>
            <input type="text" id="snippet" name="snippet" required>
        </div>
        <div>
            <label for="content">Treść:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <button type="submit">Utwórz post</button>
    </form>
</body>
</html>
